# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
token.pickle
email_templates.json
email_log.csv
saved_resumes/
temp_attachment.pdf

# Streamlit
.streamlit/secrets.toml

# Misc
.DS_Store 